@use '../shared-page';

.search-field {
  width: 300px;

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.cell-bold {
  font-weight: 500 !important;
}

.chip--elite {
  background: #fef3c7;
  color: #92400e;
}
