@use '../shared-page';

.search-field {
  width: 300px;

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

.cell-bold {
  font-weight: 500 !important;
}

.cell-muted {
  color: var(--on-surface-variant) !important;
}

.cell-truncate {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
