.meeting-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 360px;

  @media (max-width: 767px) {
    min-width: unset;
  }
}

.time-row {
  display: flex;
  gap: 16px;

  mat-form-field {
    flex: 1;
  }
}
